.ant-checkbox-checked .ant-checkbox-inner {
    background: #A1A4B1;
    border-color: #A1A4B1;
}

/* .ant-checkbox-checked .ant-checkbox-inner::after {
    position: absolute;
    display: table;
    border: 2px solid #232735;
} */
.text-align-end{
    text-align: end;
}
.ant-col {
    width: 100%;
  }
.ant-slider-handle{
    width: 40px;
    height: 40px;
    margin-top: -18px;
    border-radius: 30%;
}
.ant-slider-dot:first-child{
    display: none;
}
.ant-slider-dot:last-child{
    display: none;
}
.ant-slider-track{
    background-color: #F0F1F3;
}
.ant-slider-handle{
    border: 1px solid #0084F4;
}
.ant-radio-checked .ant-radio-inner{
    border-color: #222222;
}
.ant-radio-inner::after{
    background-color: #222222;
}

.b-pagination-pills .page-item .page-link{
    border-radius: 4px;
}
.ant-tabs-bar{
    width: 300px;
    font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 14px;
color: #0385F3;
}
.display-flex{
    display: flex;
}
.text-align-right{
    text-align: right;
}
.mt-50{
    margin-top: 50px;
}
.vertical-align-middle{
    vertical-align: middle;
}
.ml-10{
    margin-left: 10px;
}
.mt-30{
    margin-top: 30px;
}
.mb-40{
    margin-bottom: 40px;
}